@tailwind components;
@tailwind utilities;
@tailwind base;

/* 
 * https://www.reddit.com/r/nextjs/comments/y7cdtj/comment/itqxdvn/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button
 */
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  background: #232222;
  background-repeat: no-repeat;
  height: 100%;
}

@layer base {
  .section {
    @apply flex items-center py-8 lg:py-24 lg:h-screen;
  }
}

@layer components {
  .text-grad-solid {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-accent-2 to-accent-4;
  }

  .text-grad {
    @apply text-transparent transition-all bg-clip-text bg-gradient-to-r from-accent-2 to-accent-4 hover:bg-gradient-to-r hover:from-accent-4 hover:to-accent-2;
  }

  .rounded-btn-grad {
    @apply pt-2 pb-2 pl-2 pr-2 transition-all ease-linear text-primary lg:pl-10 lg:pr-10 rounded-3xl bg-gradient-to-r from-accent-2 to-accent-4 hover:bg-gradient-to-r hover:from-accent-4 hover:to-accent-2;
  }
}
